<div class="container">
  <div class="row justify-content-center">
     <div class="col-12 col-lg-6">

      <%= cl_image_tag @shop.photo, height: 300, width: 400, crop: :fill %>

      <h1>Name: <%= @shop.name %></h1>
      <h2>Description: <%= @shop.description %></h2>
      <p>Amount: <%= humanized_money_with_symbol(@shop.price) %></p>


      <!-- adding code for reviews -->
      <h2>
        <%= pluralize @shop.reviews.size,  "Review" %>

      </h2>

      <div id="reviews">
            <% if @shop.reviews.blank? %>
        Be the first to leave a review for <%= @shop.name %>
      <% else %>
        <% @shop.reviews.each do |review| %>
          <%= render 'reviews/show', review: review %>
        <% end %>
      <% end %>


      </div>

      <%= render 'reviews/form', shop: @shop, review: @review %>


            <ul>
             <% if policy(@shop).destroy? %>

             <li data-shop-id="<%= @shop.id %>">
            <%= link_to "Delete Bshop", @shop, method: :delete, remote: true, data:{ confirm: "Are u sure buddy?"} %>
          </li>
        <% end %>

    </ul>





     </div>

  </div>

</div>

